/* html,
body {
  overflow-x: hidden;
  text-align: center;
  vertical-align: middle;
} */
* {
  margin: 0;
  padding: 0;
}
/* home section */
#home {
  background: url(../img/Tiangong1_09Mar2018b.jpg) 50% 0 repeat-y fixed;
  background-size: 100vw 100vh;
  color: #ffffff;
  height: 100vh;
}

/* #home h1 {
    letter-spacing: 6px;
} */

#home ._chevron:hover {
  /* background: #fff; */
  color: turquoise;
  transition: all 0.4s ease-in-out;
}

.carousel_h {
  height: 60vh;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

/* .carousel-item {
  transition: transform 2s ease, opacity .5s ease-out
} */

.container {
  text-align: start;
}

/* div.carousel-inner.carousel_h {
  padding-top: 100px;
  padding-bottom: 100px;
} */

.carousel_wrapper {
  height: 60vh;
}

.footer_style {
  height: 100%;
  background-image: url(../img/Tiangong1_09Mar2018b.jpg);
  margin: 0;
  color: white;
}
.circle_icon {
  background: lightgrey;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer i {
  color: black;
}

footer i:hover {
  color: white;
}

.contact_wrapper {
  padding: 70px 0 90px 0;
}



/* 
@media (max-width:500px) {
  img {
    width: 200px;
    height: 200px;
  }
} */

/* @media (max-width:325px) {
  div img {
    align-items: center;
  }
} */


/* @media (max-width:1200px) {
  .img_sizing {
    width: 200px;
    height: 200px;
  }
}

@media (max-width:980px) {
  .img_sizing {
    padding: 10px;
  }
} */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


